.mcl {
    max-width: 380px;
    margin: 0 auto;
}

.mcl__header {
    padding: 17px 0;
}

.mcl__back-btn {
    font-size: 0;
    background: url(/moa/img/icon/icon_mcl_back.png) no-repeat 0;
    background-size: auto 16px;
    width: 16px;
    height: 16px;
}

.mcl__back-btn svg {
    width: auto;
    height: 10px;
    margin-right: 4px;
}

.mcl__back-btn svg g {
    stroke: #000;
}

.mcl__home {
    margin-left: auto;
    font-size: 0;
    background: url(/moa/img/icon/icon_home.png) no-repeat 0;
    background-size: auto 16px;
    width: 16px;
    height: 16px;
}

.mcl__home svg {
    width: 24px;
    height: auto;
}

.mcl-banner {
    margin: 25px 0;
}

.mcl-banner img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.mcl-or {
    text-align: center;
    margin: 25px 0;
}

.mcl-or::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #f5f5f5;
    position: absolute;
    top: 50%;
    margin-top: -1px;
}

.mcl-or span {
    display: inline-block;
    font-size: 13px;
    color: #a1a1a1;
    font-weight: 500;
    background: var(--bg-color);
    position: relative;
    z-index: 1;
    padding: 0 10px;
}

.mcl .ec-base-tab.typeNav .menu {
    border: none;
    background: #f7f8fa;
    border-radius: 40px;
}

.mcl .ec-base-tab.typeNav .menu li {
    background: none;
    cursor: pointer;
}

.mcl .ec-base-tab.typeNav .menu li a {
    border: none;
    background: #f7f8fa;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #888;
    border-radius: 40px;
    padding: 11px 20px;
    cursor: pointer;
}

.mcl .ec-base-tab.typeNav .menu li.selected a {
    background: #333;
    color: #fff;
}

.login .id,
.login .password {
    overflow: hidden;
    display: block;
    width: 100%;
    margin: 0;
}

.mcl__title {
    margin-top: 30px;
    margin-bottom: 25px;
}

.mcl__title h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mcl__title p {
    font-size: 14px;
    font-weight: 500;
    color: #777;
    line-height: 1.5;
}

.login .id span,
.login .password span {
    height: 32px;
    line-height: 32px;
    padding: 0 0 0 10px;
}

.login input[type=text],
.login input[type=password] {
    color: #000;
    width: 100%;
    height: 50px;
    line-height: 48px;
    padding: 0;
    margin: 0 0 10px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
    border-radius: 0px;
    font-weight: 500;
}

.login input[type=text]::placeholder,
.login input[type=password]::placeholder {
    color: #777;
}

.login__security {
    margin: 10px 0 30px;
    font-size: 13px;
}

.login__security .secret {
    position: relative;
    display: inline-block;
    height: 17px;
    line-height: 17px;
    padding: 0 0 0 27px;
    background: url("//img.echosting.cafe24.com/skin/skin/member/ico_access.svg") no-repeat 0 0;
}

.login__security .secret img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .00001;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.login__util {
    overflow: hidden;
    margin: 25px 0;
    text-align: center;
}

.login__util li {
    display: inline-block;
    vertical-align: top;
}

.login__util li:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    margin: 0 8px 0 12px;
    vertical-align: top;
    background: #e0e0e0;
    transform: translateY(2px);
}

.login__util li a {
    color: #888;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
}

.login__util li:last-child a {
    color: #000;
}

.login__link {
    position: relative;
    margin: 25px 9px 0 0;
    padding: 25px 0 0 0;
    color: #757575;
    border-top: 1px solid #e9e9e9;
}

.login__link a {
    position: absolute;
    top: 25px;
    right: 0;
}

.login__button {
    margin: 20px 0 0;
}

.login__button [class^="btn"] {
    border-radius: 4px !important;
    font-size: 16px !important;
    padding: 0 !important;
    line-height: 50px;
}

.login__button [class^="btn"] + [class^="btn"] {
    margin: 10px 0 0;
}

.login__sns {
    margin: 0;
}

.login__sns [class*="btn"] {
    display: block;
    border-radius: 4px;
    font-size: 15px;
    text-align: center;
    height: 52px;
    line-height: 52px;
    font-weight: 650;
    text-decoration: none;
    box-sizing: border-box;
    background-size: 20px 0;
    letter-spacing: 0px;
}

.login__sns [class*="btn"] + [class*="btn"] {
    margin: 10px 0 0;
}

.login__sns .btnKakao {
    color: #222;
    background: #fee500 url("//img.echosting.cafe24.com/skin/skin/member/ico_kakao.svg") no-repeat 20px center;
    background-size: 18px auto;
}

.login__sns .btnNaver {
    color: #fff;
    background: #1ec800 url("//img.echosting.cafe24.com/skin/skin/member/ico_naver.svg") no-repeat 20px center;
    background-size: 18px auto;
}

.login__sns .btnFacebook {
    color: #fff;
    background: #177bf2 url("/moa/img/icon/icon_facebook.svg") no-repeat 20px center;
    background-size: 18px auto;
}

.login__sns .btnLine {
    color: #fff;
    background: #00c300 url("//img.echosting.cafe24.com/skin/skin/member/ico_line.svg") no-repeat 20px center;
    background-size: 18px auto;
}

.login__sns .btnGoogle {
    color: #000;
    border: 1px solid #bcbcbc;
    background: #fff url("//img.echosting.cafe24.com/skin/skin/member/ico_google.svg") no-repeat 20px center;
    background-size: 18px auto;
}

.login__sns .btnApple {
    color: #000;
    border: 1px solid #000;
    background: #fff url("//img.echosting.cafe24.com/skin/skin/member/ico_apple.svg") no-repeat 20px center;
    background-size: 18px auto;
}

.ec-base-tab.typeNav .menu {
	margin: 0 0 20px !important;
}

@media (max-width: 1024px) {
    .mcl .gInnerMargin {
        margin: 0;
    }
    
    .mcl {
        padding: 0 16px;
    }
}

#member_login_module_id.typeNew { display:none; }
#member_login_module_id.typeNew.show { display:block; }

.xans-member-login.typeNew { padding:40px 0 0; }
.xans-member-login.typeNew .mcl-or { cursor:pointer; }
.xans-member-login.typeNew .mcl-or.hide { display:none; }
.xans-member-login.typeNew .mcl-or:before { display:none; }